body {
    background-color:rgb(255,252,212);
}

html, body {
    height: 100%;
    width: 100%;
}

h4 {
    color: grey;
    font-family: "Segoe UI";
    margin: px;
    padding: 5px;
	margin-left: 250px;
}

h3 {
    color: grey;
    font-family: "Segoe UI";
    margin: px;
    padding: 5px;
	margin-left: 250px;
    fonte-size:20%;
}

#fundo-branco {
    background-color: white;
    padding: 5px;
    top: 50px;
}

#center {
    left: 100px;
    bottom: 70px;
}

.round-button {
    outline: none;
    border: none;
    border-radius: 100px;
    background-color: rgb(2,1,53);
    color: white;
    width: 15%;
    height: 35px;
    transform: translatex(560%)
}

img {
    max-width:250px;
    max-height:250px;
    width: auto;
    height: auto;
	top: 0px;
}

.logo {
    max-width:200px;
    max-height:200px;
    width: auto;
    height: auto;
	top: 0px;
    transform: translateY(120%)
}