{% extends "header.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='admin_home_style.css')}}"/>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12" id="fundo-branco">
			<div class="col-md-1">
				<img class="logo" src="https://i.imgur.com/BZ56eUI.png">
			</div>
				<tbody>

                        {% for usuario in usuarios %}
                        <tr data-usuario-id="{{usuario.id}}">
                           <h4>NOME: {{usuario.nome}}</h4>
						   <h4>USUARIO: {{usuario.login}}</h4>
                        </tr>
                        {% endfor %}
                </tbody>
					
            </div> 
			<a href="/up"><button class="round-button">UPLOAD</button></a>
        </div>

		<div class="row">

          <div class="col-lg-12"><br />
               <h3 class="page-header">Foto dos Usuarios </h3>
          </div>
          <hr>
          {% for image_name in image_names %}
          <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <img class="img-responsive" src=" {{url_for('send_image', filename=image_name)}}">
          </div>
          {% endfor %}
        </div>
    </div>
{% endblock %}
