{% extends "header.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='admin_home_style.css')}}"/>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12" id="fundo-branco">
			<div class="col-md-1">
				<img src="https://i.imgur.com/BZ56eUI.png">
			</div>
				<tbody>

                        {% for usuario in usuarios %}
                        <tr data-usuario-id="{{usuario.id}}">
                           <h4>NOME:{{usuario.nome}}</h4>
                        </tr>
                        {% endfor %}
                    </tbody>
            </div>
        </div>
    </div>
{% endblock %}
